[submodule "deps/restdown"]
	path = deps/restdown
	url = https://github.com/TritonDataCenter/restdown.git
[submodule "deps/sdc-scripts"]
	path = deps/sdc-scripts
	url = https://github.com/TritonDataCenter/sdc-scripts.git
[submodule "deps/catest"]
	path = deps/catest
	url = https://github.com/TritonDataCenter/catest
[submodule "deps/eng"]
	path = deps/eng
	url = https://github.com/TritonDataCenter/eng.git
